@import url(http://fonts.googleapis.com/css?family=Lora:700);


body {
     background: url("../img/backg.png") no-repeat center center fixed;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.info{
  background-color: white;
  border-style: solid;
  border-color: navy;
  border-width: 5px;
  text-align: center;
  width: 50%;
  height: 22.6%;
  position: absolute;
  margin-left: 27.6%;
  margin-top: 4.1%;
  
}

h1{
  font-family: 'Lora', serif;
  font-weight: bold;
  color: navy;
}

